aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alembic==1.16.5
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
audioop-lts==0.2.2
audioread==3.0.1
babel==2.17.0
backrefs==6.1
bcrypt==4.3.0
beautifulsoup4==4.14.2
bleach==6.3.0
blinker==1.9.0
blueprint==3.4.2
bottle==0.13.3
bottle-websocket==0.2.9
Bottleneck==1.6.0
CacheControl==0.14.3
cachelib==0.13.0
cachetools==5.5.2
certifi==2025.7.14
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
cloudinary==1.44.1
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
comtypes==1.4.11
contourpy==1.3.3
create-fastapi-project==0.2.5
cryptography==46.0.2
cycler==0.12.1
cyclic==1.0.0
Cython==3.1.0
dask==2025.11.0
dataclasses-json==0.6.7
debugpy==1.8.17
decorator==5.2.1
deepmerge==2.0
defusedxml==0.7.1
Deprecated==1.2.18
distlib==0.3.9
distributed==2025.11.0
dnspython==2.8.0
docstring_parser==0.17.0
dotenv==0.9.9
Eel==0.18.1
email-validator==2.3.0
exceptiongroup==1.3.0
executing==2.2.1
faiss-cpu==1.12.0
fastapi==0.121.0
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
fastjsonschema==2.21.2
ffmpeg-python==0.2.0
filelock==3.18.0
firebase_admin==7.1.0
Flask==3.1.1
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.12
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
ghn_jupyter_ai==0.0.9
ghn_jupyter_ai_magics==0.0.9
ghp-import==2.1.0
google-api-core==2.26.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-cloud-aiplatform==1.126.1
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-resource-manager==1.15.0
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.49.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.2
grpc-google-iam-v1==0.14.3
grpcio==1.75.1
grpcio-status==1.75.1
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hjson==3.1.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.2.2
hyperframe==6.1.0
HyperPyYAML==1.2.2
idna==3.10
importlib_metadata==8.7.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
json5==0.12.1
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kagglehub==0.3.13
kiwisolver==1.4.9
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-google-vertexai==2.1.2
langchain-text-splitters==0.3.11
langsmith==0.4.42
lark==1.3.1
lazy_loader==0.4
librosa==0.11.0
limits==5.2.0
llvmlite==0.44.0
locket==1.0.0
Mako==1.3.10
Markdown==3.10
markdown-include-variants==0.0.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
mdx-include==1.4.2
mergedeep==1.3.4
mistune==3.1.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.3
mkdocs-get-deps==0.2.0
mkdocs-macros-plugin==1.5.0
mkdocs-material==9.7.0
mkdocs-material-extensions==1.3.1
mkdocs-redirects==1.2.2
mkdocstrings==1.0.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.7.0
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
notebook==7.4.7
notebook_shim==0.2.4
numba==0.61.2
numexpr==2.14.1
numpy==2.2.6
oauthlib==3.3.1
openai-whisper==20250625
ordered-set==4.1.0
orjson==3.11.4
outcome==1.3.0.post0
packaging==25.0
paginate==0.5.7
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
partd==1.4.2
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.3.8
ply==3.11
pooch==1.8.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.32.1
psutil==7.1.3
pure_eval==0.2.3
pvporcupine==3.0.5
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.12.4
pydantic-settings==2.11.0
pydantic_core==2.41.5
Pygments==2.19.1
PyJWT==2.10.1
pymdown-extensions==10.19.1
pyparsing==3.2.3
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==4.0.0
python-multipart==0.0.20
pyttsx3==2.98
pytz==2025.2
pywin32==310
pywinpty==3.0.2
PyYAML==6.0.3
pyyaml_env_tag==1.1
pyzmq==27.1.0
questionary==2.1.1
rcslice==1.1.0
redis==6.2.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.9.4
rich-toolkit==0.15.1
rignore==0.7.5
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
scikit-learn==1.6.1
scipy==1.15.3
selenium==4.34.2
Send2Trash==1.8.3
sentencepiece==0.2.1
sentry-sdk==2.43.0
setuptools==80.9.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
speechbrain==1.0.3
SQLAlchemy==2.0.41
srt==3.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.49.3
super_collections==0.6.2
sympy==1.14.0
tblib==3.2.1
tenacity==9.1.2
termcolor==3.2.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
toml==0.10.2
toolz==1.1.0
torch==2.9.1
torchaudio==2.9.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typer==0.12.5
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
unrpa==2.3.0
uri-template==1.3.0
urllib3==2.5.0
uv==0.9.7
uvicorn==0.38.0
validators==0.35.0
virtualenv==20.31.2
vosk==0.3.45
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.22.0
youtube-dl==2021.12.17
yt-dlp==2025.7.21
zict==3.0.0
zipp==3.23.0
zope.event==5.0
zope.interface==7.2
zstandard==0.25.0
